/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
  --dark-grey: #5b5757;
  --light-grey: #feffff;
  --light-red: #ef233c;
  --white: #fff;
  --black: #222;
  --font: 'League Spartan', sans-serif
}

* {
  font-family: var(--font);
}

.App {
  display: flex;
  flex-direction: column;
}

.search {
  align-self: center;
  margin: 2rem;
}

#search-label {
  align-self: center;
  margin-right: 1rem;
  font-size: 1.2rem;
}

#search-input {
  width: 210px;
  height: 30px;
  padding-left: 0.5em;
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: 200;
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
  align-self: center;
}

.favourites-text {
  text-align: center;
}

.names-container {
  display: grid;
  gap: 0.5rem;
  margin: 1rem 4rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 50px;
  justify-items: center;
  justify-self: center;
  font-size: 1.2rem
}

.name-btn {
  width: 80px;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
  color: var(--white);
}

.m-name {
  background-color: var(--dark-grey);
}

.f-name {
  background-color: var(--light-red);
}

.separator {
  align-self: center;
  height: 3px;
  width: 90vw;
  margin: 0.5rem;
  background-color: var(--light-red);
}